* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 50%;
    margin: 0px auto;
}

.inner{
    margin: 0px auto;
    width: 93%;
}

.main{
    background-color: antiquewhite;
    min-height: 100vh;
}

h1{
    margin-top: 0px;
    padding-top: 0.67em;
}

h1,
h2,
h3 {
    color: cornflowerblue;
}

.lists {
    font-size: 18px;
}

ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}

#different li {
    padding-top: 5px;
    padding-bottom: 5px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 45%;
    padding: 0% 2.5%;
    text-align: center;
}